:root {
  --card-border-color: #e0e0e0;
  --card-background-color: #ffffff;
  --card-shadow-color: #0000001a;
  --card-hover-shadow-color: #00000033;
  --button-hover-color: #007bff;
}

.cardItem {
  position: relative;
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--card-border-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--card-shadow-color);
  margin: 10px;
  padding: 15px;
  background-color: var(--card-background-color);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.cardItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px var(--card-hover-shadow-color);
}

.cardItem img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.cardItem div {
  font-size: 16px;
  color: var(--item-link-text-color);
  margin: 5px 0;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: black;
  padding: 5px;
}

.close:hover {
  outline: 1px solid var(--button-hover-color);
  color: white;
}
