.container-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  width: 3rem;
  height: 3rem;
  border: 0.4rem solid #dee2e6;
  border-top-color: #0d6efd;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
