:root {
  --input-border-color: #dddddd;
  --input-focus-border-color: #007bff;
  --input-focus-box-shadow-color: #007bff80;
  --input-placeholder-color: #aaaaaa;
}

input {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

input:focus {
  border-color: var(--input-focus-border-color);
  box-shadow: 0 0 5px var(--input-focus-box-shadow-color);
  outline: none;
}

input::placeholder {
  color: var(--input-placeholder-color);
}
