:root {
  --item-bg-color: #f9f9f9;
  --item-link-bg-hover-color: #007bff;
  --item-link-text-color: #333333;
  --item-link-hover-text-color: #ffffff;
  --box-shadow-color: #0000001a;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  background: var(--item-bg-color);
  padding: 4px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
}

.itemLink {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: var(--item-link-text-color);
}

.itemLink:hover {
  background: var(--item-link-bg-hover-color);
  color: var(--item-link-hover-text-color);
  transform: scale(1);
}
