:root {
  --item-bg-color: #f9f9f9;
  --item-link-bg-hover-color: #007bff;
  --item-link-text-color: #333333;
  --item-link-hover-text-color: #ffffff;
  --box-shadow-color: #0000001a;
  --container-bg-color: #f9f9f9;
  --heading-color: #444444;
}

.containerResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-color: var(--container-bg-color);
}

.containerResults h1 {
  font-size: 2rem;
  color: var(--heading-color);
}

.containerItems {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  place-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  padding: 0;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
}

.itemLink {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: var(--item-link-text-color);
}

.itemLink:hover {
  background: var(--item-link-bg-hover-color);
  color: var(--item-link-hover-text-color);
  transform: scale(1);
}


